/*
 *  General styles
 */

body {
	color: #292724;
}

a {
	color: #1568A3;
	text-decoration: none;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

a:hover {
	color: #00B3D7;
}

/*
 *  Styles for the index.html welcome page
 */

.welcome-page {
	/*background-color: #F2F2F2;*/
}

	.welcome-page * {
		font-family: "pt-sans", Helvetica, Arial, sans-serif;
	}

	.wrapper {
		margin: 50px auto;
		width: 700px;
	}

	.welcome-page h1 {
		font-size: 80px;
		font-weight: bold; 
		margin: 0;
		letter-spacing: -1px
	}

	.welcome-page h2 {
		font-size: 52px;
		font-weight: normal;
		margin: 0 0 30px 0;
		line-height: 1.2;
		letter-spacing: -2px;
	}

	.welcome-page p {
		font-size: 38px;
		margin: 0 0 10px 0;
		line-height: 1.3;
		letter-spacing: -1px;
	}

/*
 *  Styles for Icons div
 */

.icons {
	font-size: 48px;
	margin-top: 30px;
}
	.icons a {
		color: #CCCCCC;
		-moz-transition: 0.3s;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}
	.icons a:hover {
		color: #666;
	}